<div id="navigation">
<!-- Next prev page -->


    
{{- if not $.Site.Params.disableNavChevron -}}
    {{- with ($.Scratch.Get "prevPage") -}}
        <a class="nav nav-prev" href="{{.URL}}" title="{{.Title}}"> Prev</a>
        <!-- <i class="fa fa-chevron-left"></i> -->
    {{ end -}}
    {{- with ($.Scratch.Get "nextPage") -}}
        <a class="nav nav-next" href="{{.URL}}" title="{{.Title}}" style="margin-right: 0px;">Next</a>
        <!-- <i class="fa fa-chevron-right"></i> -->
    {{- end }}
{{- end -}}
</div>